.dashboard {
    display: flex;
    flex-direction: column;
width: 100%;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    margin-top: 10px;
}

.menu-bar {
    width: 30px;
    height: 30px;
}

.header-logo {
    width: 142px;
    height: 30px;
    margin-left: 25px;
}

.search-icon {
    width: 25px;
    height: 25px;
    margin-top: 3px;
    margin-left: 77px;
}

.search-box {
    width: 910px;
    height: 21px;
    margin-top: 3px;
    margin-left: 14.74px;
    border: 0;
}

.right-header {
    display: flex;
    flex-direction: row;

}

.bell {
    height: 22px;
    width: 22px;
    margin-top: 3px;
    margin-left: 20px;
}

.profile-pic {
    height: 35px;
    width: 35px;
    margin-left: 30px;
}

span {
    width: 90px;
    font-size: 16px;
    height: 21px;
    margin-left: 10px;
    margin-top: 5px;
}

.downward-arrow {
    width: 15px;
    height: 15px;
    margin-top: 5px;
}

/* sidebar */

.side-bar {
    width: 242px;
    display: flex;
    flex-direction: column;
}

/* sidebar-dashboard  */

.sidebar-dashboard {
    display: flex;
    flex-direction: row;
    width: 183px;
    height: 43px;
    margin-top: 25px;
    margin-left: 30px;
}

.sidebar-dashboard img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.sidebar-dashboard a {
    width: 78px;
    height: 21px;
    color: #C8242F;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    margin-left: 13px;
    font-size: 20px;
    text-decoration: none;
}

/* sidebar-analysis */

.sidebar-analysis {
    display: flex;
    flex-direction: row;
    width: 183px;
    height: 43px;
    margin-top: 20px;
    margin-left: 30px;
}

.sidebar-analysis img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.sidebar-analysis a {
    width: 78px;
    height: 21px;
    color: #3E3E3E;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    margin-left: 13px;
    font-size: 20px;
    text-decoration: none;
}

/* sidebar-inbox  */

.sidebar-inbox {
    display: flex;
    flex-direction: row;
    width: 183px;
    height: 43px;
    margin-top: 20px;
    margin-left: 30px;
}

.sidebar-inbox img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.sidebar-inbox a {
    width: 78px;
    height: 21px;
    color: #3E3E3E;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    margin-left: 13px;
    font-size: 20px;
    text-decoration: none;
}

/* sidebar-history  */

.sidebar-history {
    display: flex;
    flex-direction: row;
    width: 183px;
    height: 43px;
    margin-top: 20px;
    margin-left: 30px;
}

.sidebar-history img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.sidebar-history a {
    width: 78px;
    height: 21px;
    color: #3E3E3E;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    margin-left: 13px;
    font-size: 20px;
    text-decoration: none;
}

/* sidebar-user */

.sidebar-user {
    display: flex;
    flex-direction: row;
    width: 183px;
    height: 43px;
    margin-top: 20px;
    margin-left: 30px;
}

.sidebar-user img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.sidebar-user a {
    width: 78px;
    height: 21px;
    color: #3E3E3E;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    margin-left: 13px;
    font-size: 20px;
    text-decoration: none;
}

/* sidebar-maintenance */

.sidebar-maintenance {
    display: flex;
    flex-direction: row;
    width: 183px;
    height: 43px;
    margin-top: 20px;
    margin-left: 30px;
}

.sidebar-maintenance img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.sidebar-maintenance a {
    width: 78px;
    height: 21px;
    color: #3E3E3E;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    margin-left: 13px;
    font-size: 20px;
    text-decoration: none;
}

/* sidebar-setting */

.sidebar-setting {
    display: flex;
    flex-direction: row;
    width: 183px;
    height: 43px;
    margin-top: 20px;
    margin-left: 30px;
}

.sidebar-setting img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.sidebar-setting a {
    width: 78px;
    height: 21px;
    color: #3E3E3E;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    margin-left: 13px;
    font-size: 20px;
    text-decoration: none;
}

/* subdiv */

.sub-div {
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
}

.div-group {
    display: flex;
    flex-direction: column;
}

.current-open {

    margin-top: 24px;
    width: 146px;
    height: 39px;
}

.current-open span {
    font-size: 30px;
    font-family: Roboto;
    font-weight: bolder;
}

/* info-div */

.info-div-right {
    display: flex;
    flex-direction: row;
    margin-top: 22.25px;

}

/* first info  */

.first-info {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    width: 220px;
    height: 70px;
}

.first-info img {
    width: 34px;
    height: 34px;
    margin-top: 10.33px;
    margin-left: 38px;
}

.inner-info1 {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

.inner-info1 span {
    font-size: 25px;
    margin-bottom: 10px;
}

.inner-info1 p {
    font-size: 15px;
    margin-left: 10px;
}

/* second info  */

.second-info {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    width: 220px;
    height: 70px;
}

.second-info img {
    width: 34px;
    height: 34px;
    margin-top: 10.33px;
    margin-left: 20px;
}

.inner-info2 {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

.inner-info2 span {
    font-size: 25px;
    margin-bottom: 10px;

}

.inner-info2 p {
    font-size: 15px;
    margin-left: 10px;
}

/* third info  */

.third-info {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    width: 220px;
    height: 70px;
}

.third-info img {
    width: 34px;
    height: 34px;
    margin-top: 10.33px;
    margin-left: 20px;
}

.inner-info3 {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
    margin-bottom: 10px;

}

.inner-info3 span {
    font-size: 25px;
    margin-bottom: 10px;

}

.inner-info3 p {
    font-size: 15px;
    margin-left: 10px;
}

/* fourth info  */

.fourth-info {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    width: 220px;
    height: 70px;
}

.fourth-info img {
    width: 34px;
    height: 34px;
    margin-top: 10.33px;
    margin-left: 20px;
}

.inner-info4 {
    display: flex;
    flex-direction: column;
    margin-left: 7px;

}

.inner-info4 span {
    font-size: 25px;
    margin-bottom: 10px;

}

.inner-info4 p {
    font-size: 15px;
    margin-left: 10px;
}

/* fifth info  */

.fifth-info {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    width: 220px;
    height: 70px;
}

.fifth-info img {
    width: 34px;
    height: 34px;
    margin-top: 10.33px;
    margin-left: 20px;
}

.inner-info5 {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

.inner-info5 span {
    font-size: 25px;
    margin-bottom: 10px;

}

.inner-info5 p {
    font-size: 15px;
    margin-left: 10px;
}

.graph-div {
    display: flex;
    flex-direction: row;
}

.sale-graph {
    width: 802px;
    height: 400px;
    margin-top: 30px;
    margin-left: 15px;
}

.sales-info {
    display: flex;
    flex-direction: row;
}

.sales-info p {
    width: 43px;
    height: 29px;
    font-size: 22px;
    margin-right: 400px;
    font-weight: bold;
}

.sales-info .sales-a1 {
    width: 49px;
    height: 29px;
    font-size: 12px;
    margin-left: 50px;
    text-decoration: none;
    margin-top: 25px;
    font-family: Roboto;
    font-weight: normal;
    color: #ADADAD;
}

.sales-info .sales-a2 {
    width: 49px;
    height: 29px;
    font-size: 12px;
    margin-left: 50px;
    text-decoration: none;
    margin-top: 25px;
    font-family: Roboto;
    font-weight: normal;
    color: #ADADAD;
}

.sales-info .sales-a3 {
    width: 49px;
    height: 29px;
    font-size: 12px;
    margin-left: 50px;
    margin-top: 25px;
    font-family: Roboto;
    font-weight: normal;
    color: #C8242F;
}

/* pie chart */

.piegraph-div {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 385px;
    height: 398px;
}

.pie-graph {
    display: flex;
    flex-direction: column;
}

.piegraph-div p {
    width: 200px;
    height: 29px;
    font-size: 22px;
    font-weight: bold;
}

.piegraph-div img {
    margin-left: 89px;
    width: 200px;
    height: 200px;
}

.us-canada {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.us-canada .p1 {
    margin-left: 9px;
    font-size: 10px;
    width: 166px;
    margin-top: 15px;
}

.reddot {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: red;
    margin-top: 13px;
    margin-left: 20px;
}

.greendot {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: green;
    margin-top: 13px;
    margin-left: 20px;
}

.us-canada .p2 {
    margin-left: 9px;
    font-size: 10px;
    width: 166px;
    margin-top: 15px;
}

.russia-india {
    display: flex;
    flex-direction: row;
}

.russia-india .p1 {
    margin-left: 9px;
    font-size: 10px;
    width: 166px;
    margin-top: 15px;
}

.orangedot {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: #F16C20;
    margin-top: 13px;
    margin-left: 20px;
}

.yellowdot {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: #EBC844;
    margin-top: 13px;
    margin-left: 20px;
}

.russia-india .p2 {
    margin-left: 9px;
    font-size: 10px;
    width: 166px;
    margin-top: 15px;
}

.invoice {
    display: flex;
    flex-direction: row;
}

.invoice p {
    margin-left: auto;
    margin-top: 10px;
    color: #FF4545;
}

.invoice span {
    font-size: 22px;
    font-weight: bolder;
}

.head11 {
    color: #ADADAD;
}

.td11 {
    color: #3CDD5F;
    background-color: #EBFFEF;
    text-align: center;
}

.td22 {
    color: #FF4545;
    text-align: center;
}

.td33 {
    color: #ADADAD;
    text-align: center;
}


