body {
    overflow-x: hidden;
    margin: 0 0 0 0;
}

.main {

    display: flex;
    flex-direction: row;
    width: 1560px;
    height: 720px;

}

.left-div {
    margin-left: 90px;
    margin-top: 72px;

}

.left-div img {
    border-radius: 1000px;
    top: 72px;
    left: 166px;
    height: 500px;
    width: 500px;
    margin: 15%;
    background: transparent url('img/Ellipse 2.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
}

.right-div {
    margin-top: 106px;
    margin-left: 150px;

}

.logo-img {
    /* top: 106px;
    left: 906px; */
    width: 272px;
    height: 58px;
    margin-bottom: 19.17px;
}



.p1 {
    font-size: 40px;
    font-family: Roboto, Regular;
    color: #3E3E3E;
    width: 700px;


}

span {
    color: #C8242F;
    font-size: 40px;
    font: normal normal 900 40px/53px Roboto;
}

.right-div .p2 {
    font-size: 25px;
    font-family: Roboto, Regular;
    color: #3E3E3E;
    margin-top: 31.87px;
}

form {
    display: flex;
    flex-direction: column;

}

.ipuname {
    margin-top: 23.65px;
    margin-bottom: 27px;
}

form input {
    width: 429px;
    height: 49px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;

}

.form-button {
    display: flex;
    flex-direction: row;
}

form button {
    width: 138px;
    height: 45px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    color: white;
    margin-top: 20px;
    margin-right: 170.44px;
}

h5 {
    margin-top: 31px;
}

.new-member {
    margin-top: 0px;
}

.span1 {
    font-size: 15px;
}


/* mediaquery */

@media only screen and (min-width:360px) and (max-width:1300px) {
    .main {

        display: flex;
        flex-direction: column;
        width: auto;
        padding-left: 10%;
        padding-right: 10%;

    }

    .left-div img {
        margin-top: 0px;
        height: 70%;
        width: 60%;

    }

    .left-div {
        margin-left: 0px;
        text-align: center;
        width: 100%;
        margin-top: 0px;
    }

    .right-div {
        margin-left: 0px;
        margin-top: 0px;
        width: auto;
    }

    .p1 {
        width: 80%;
    }

    .ipuname {
        width: 80%;
    }

    form input {
        width: 80%;

    }

    form button {
        width: 20%;
      
    }

}